
body {
  padding: 25px;
  background-color: #111111;
  align-items: center;
  justify-content: center;
}

button.darkmode  {
    background-color: #3e3e3ea8;
    color: orange; 
    width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  padding-top: 4px;
}

.lightmode{
    background-color: white;
    color: black;
}

button.lightmode  {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    gap: 30px; 
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }


.profile{
    background-color:rgba(46, 45, 45, 0.6);
    width: 200px;
    height: fit-content;
    padding: 50px 40px 10px 25px;
    border-radius: 10px;
    text-align: center; 
    font-size: 14px;
    justify-content: center;
    position: fixed;
    top: 24px;
    left: 200px;
    margin-top: 10px;
    animation: 2s drop-in;
}

@keyframes fadeOpen {
    0% {
      transform: translateY(0%);
      opacity: 0;
    }
    100% {
      transform: translateY(2%);
      opacity: 1;
    }
  }

body.lightmode .profile {
    background-color: rgb(216, 225, 235);
    color:black;
}

body.darkmode .profile {
    background-color: black;
    color:orange;
}

.card-profile {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-title {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }
  
  .card-title span {
    font-size: 15px;
    color: gray;
  }
  
  .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 10px;
    gap: 20px;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: orange;
  }
  
  .card-profile:hover > .card-socials {
    opacity: 1;
    height: 15px;
  }
  
  .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
  }
  

.profile-img{
    background-color:   #3e3e3ea8;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    align-items: center;
    display: inline-block;
}

.ani-img{
    width: 120px;
    height: 120px;  
}

body.lightmode .profile-name {
    color:black;
}

.profile-name {
    color:white;
}

.resume-btn{
    background-color:rgba(46, 45, 45, 0.6);
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: -50px;
}

.resume-btn a{
    color:white;
   
}

body.darkmode .profile-name {
    color:white;
}
.contact{
    animation: 2.5s drop-in;
}
.contact-item {
    padding-top:10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}

.contact-item .icon {
    text-align: center;
}

.contact-item .icon i {
    font-size: 14px;
    background-color: #202020e6;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    color:orange;
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
}

.contact-item .info a{
    color: white;
}

.contact-item .info {
    flex: 5;
    text-align: left;
    padding-left: 10px;
}

.contact-item .label {
    font-size: 10px;
    margin: 0;
    color: grey;
    padding-left: 10px;
}

.contact-item .value {
    font-size: 12px;
    margin: 0;
    padding-left: 10px;
    color: white;
}


.resume{
    font-size: 10px;
    margin-top: 5px;
    background-color: #202020e6;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color:rgba(102, 101, 101, 0.556);
}
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-media i {
    font-size: 15px;
    color:grey;
    margin: 0 10px;
}

.navbar {
    background-color: #3e3e3ea8;
    border-bottom-left-radius: 10px;
    width: 450px;
    overflow: hidden; 
    float: right;
    height: 45px;
}

.nav-ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center; 
    margin-left: 15px;
}

.nav-ul li {
    flex: 1; 
    text-align: center;
}

.nav-ul li a {
    display: block;
    padding: 10px 5px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s;
}

.nav-ul li a:hover {
    color: grey;
}

.nav-ul li .active {
    color: orange;
}


#about {
    display: block; /* Show the About section by default */
}

.page {
    background-color:rgba(46, 45, 45, 0.6);
    width: 750px;
    border-radius: 10px;
    position: relative;
    border: #2b2b2b;
    left: 110px;
    overflow-x: hidden; 
    overflow-y: auto;
    animation: 2s drop-in;
}
section {
    padding: 60px 30px;
    display: none; /* Hide all sections by default */
    animation: 1.5s fadeIn;
}


@keyframes fadeIn {
    0% {
      transform: translateY(0%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  

.title{
    color: white;
    font-weight: bold;
    margin-top: -40px;
    position: relative;

}

.title::after {
    content: "";
    position: absolute;
    width: 5%; 
    height: 5px; 
    background-color: orange; 
    border-radius: 2px;
    bottom: -15px; 
    left: 0; 
}

.subheading{
    color: white;
    font-weight: bold;
    position: relative;
    font-size: 17px;
    margin-bottom: -10px;     
}

.data{
    color:grey;
    margin-top: 25px;
    margin-bottom: 10px;   

}

.data h3{
    color: white;
}

.data i{
    margin-right: 10px;
}

section i{
    font-size: 14px;
    background-color: #202020e6;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    color:orange;
    padding: 10px;
    text-align: center;   
}

.skillset{
    float: right;
}
.skill-item{
    background-color: #2c2c2cb5;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    flex: 1;
}


.skill-item .skill-icon i {
    font-size: 14px;
    background-color: #202020e6;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    color:orange;
    padding: 10px;
    text-align: center;
}


.skill{
    color: white;
}

.skill-item .skill {
    flex: 5;
    text-align: left;
    padding-left: 30px;
    margin-top: -40px;
}

.skill-item .skill-name {
    font-size: 15px;
    margin: 10px;
    color: white;
    padding-left: 5px;
    font-weight: bold;
}

.skill-item .skill-info {
    font-size: 12px;
    margin: 10px;
    padding-left: 5px;
    color: grey;
}

.Documents-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 35px;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #202020e6;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 35px;
  }
  .folderContainer {
    width: 25px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .fileBack {
    z-index: 1;
    width: 80%;
    height: auto;
  }
  .filePage {
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease-out;
  }
  .fileFront {
    width: 85%;
    height: auto;
    position: absolute;
    z-index: 3;
    opacity: 0.95;
    transform-origin: bottom;
    transition: all 0.3s ease-out;
  }
  .text {
    color: orange;
    font-size: 10px;
    letter-spacing: 0.5px;
  }
  .Documents-btn:hover .filePage {
    transform: translateY(-5px);
  }
  .Documents-btn:hover {
    background-color: rgb(52, 51, 51);
  }
  .Documents-btn:active {
    transform: scale(0.95);
  }
  .Documents-btn:hover .fileFront {
    transform: rotateX(30deg);
  }
  
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .data {
    display: flex;
    flex-direction: column;
  }
  
  .timeline-container {
    position: relative;
  }
  
  .timeline-container h3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .timeline-container h3 i {
    margin-right: 10px;
  }
  
  .timeline {
    position: relative;
    padding-left: 40px; 
  }
  
  .line {
    position: absolute;
    top: -15px;
    bottom: 0;
    left: 15px; 
    width: 2px;
    background-color: rgba(102, 101, 101, 0.556);
  }
  
  .timeline-entry {
    position: relative;
    margin-bottom: 40px;
    padding-left: 20px; 
  }
  
  .timeline-entry::before {
    content: '';
    position: absolute;
    left: -28px; 
    top: 20px;
    width: 8px;
    height: 8px;
    background-color: #f0a500;
    border-radius: 50%;
  }
  
  .timeline-first h1,
  .timeline-second h1,
  .timeline-third h1 {
    font-size: 20px;
    margin: 0;
  }
  
  .timeline-first p,
  .timeline-second p,
  .timeline-third p{
    margin: 10px 0;
    font-size: 15px;
  }
  
  .timeline-first time,
  .timeline-second time,
  .timeline-third time {
    margin: 10px 0;
    font-size: 12px;
  }

  .hidden {
    display: none;
}
.lt-list {
    float: right;
    height: 45px;
    width: 350px;
    margin-top: -200px;

}
.lang-tools-list {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    width: 50px;
    align-items: center; 
    margin-left: 15px;
}
.lang-tools-list li {
    text-align: center;
    flex: 1;
    padding: 4px;
}
.lang-tools-list li a {
    display: block;
    color: orange;
    text-decoration: none;
    background-color: #2b2b2b;
    font-size: 13px;
    transition: color 0.3s;
}
.lang-details {
    position: relative;
    width: 350px;
    color: gray;
}
#tools-icon, #lang-icon {
    padding-left: 40px;
}
.tools-img {    
    width: 40px;
    height: 40px;
    font-size: 5px;
    background-color: #202020e6;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    color: orange;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}
.tools-name {
    display: none;
    background-color: gray;

    color: orange;
    font-size: 5px;
    visibility: hidden;
}
.tools-img:hover, .lang-img:hover {
    box-shadow: 0 2px 0 2px orange;
    visibility: visible;
}
.lang-img {    
    width: 40px;
    height: 40px;
    font-size: 5px;
    background-color: #202020e6;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    color: orange;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}

.card {
    position: relative;
    width: 300px;
    aspect-ratio: 16/9;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
  .card svg {
    width: 48px;
    fill: #000000;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
  }
  .card__content {
    position: absolute;
   
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #2f2f2f;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0 8px;
    font-size: 20px;
    color: orange;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 0 8px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background: #131212;
    border: none;
    color: orange;
    margin: 10px;
  }

  .card__button:hover{
    box-shadow: 0 2px 3px rgba(102, 101, 101, 0.556);
  }
  
  .secondary {
    background: transparent;
    color: white;
    border: 1px solid #777;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    background-color: #1c1d1f;
    border-radius: 20px;
    padding:20px;
  }
  
  .form-heading {
    text-align: center;
    margin: 2em;
    color: orange;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: orange;
    font-weight: bold;
    outline: 1px solid orange;
    transition: all ease-in-out 0.3s;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: rgb(89, 88, 87);
    color: orange;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .form-card1 {
    background-image: linear-gradient(163deg, rgb(54, 53, 53) 0%, rgb(0, 0, 0) 100%);
    border-radius: 22px;
    transition: all 0.3s;
  }
  
  .form-card1:hover {
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
  }
  
  .form-card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  @keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 6.2em;
    } /* adjust width based on content */
    90%,
    100% {
      width: 0;
    }
  }
  
  .terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 12em;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }
  
  .terminal-controls {
    float: right;
  }
  
  .control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close {
    background-color: #e33;
  }
  
  .control.minimize {
    background-color: #ee0;
  }
  
  .control.maximize {
    background-color: #0b0;
  }
  
  .terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
  }
  
  .terminal-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green; /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }
  
